@model List<bbmscore.Models.Campain>
@{
}
<div class="container-fluid text-black mt-5">
    @if(Model != null && Model.Any())
    {
    <table class="table table-bordered table-hover">
          <thead class="table-danger">
             <tr>
                <th>Organization Name</th>
                <th>Organizer Name</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Description</th>
                <th>        </th>
             </tr>
        </thead>
        <tbody>
             @foreach (var item in Model)
             {
             <tr>
                <td>@item.Organazation</td>
                <td>@item.OrganizerName</td>
                <td>@item.Phone</td>
                <td>@item.Date</td>
                <td>@item.Description</td>
                <td>
                    <a
                        class=" text-decoration-none"
                        asp-action="Edit" asp-controller="User" asp-route-id="@item.Id" /> Edit  </td>
               
             </tr>
             }
        </tbody>
        </table>
    }
    else
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="h3 mb-4">No Campain Found</h2>
                </div>
            </div>
        </div>
    }
</div>
<div class="text-center">
    <a class="text-decoration-none btn btn-dark" asp-action="Index" asp-controller="Home">Back</a>
</div>
